:root {
  --header-footer-bg-color: #7F0F0B;
  --main-font-color: #FFF7F0;
  --main-hover-color: #B13D4C;
  --main-bg-color: #FFF7F0;
  --border-color: #EBDEDB;
  --stars-color: #D09926;
  --button-color: #a4a4a4;
  --border-large: #404040;
  --success-color: #20a020;
  --fail-color: #a02020;
  --blue-color: #2020a0;
  --bg-error-color: #f1bbbb;
}

#root {
  height: 100%;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas: 
      'header'
      'main'
      'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: var(--header-footer-bg-color);
}

main {
  grid-area: main;
  background-color: var(--main-bg-color);
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: var(--header-footer-bg-color);
  color: var(--main-font-color);
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--main-hover-color)
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-top: 1rem;
  margin: 1.5rem;
}

li.powers {

  list-style-type: circle;
}

button {
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: 0.1rem var(--button-color) solid;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #4b4b4b;
  font-weight: 400;
  cursor: pointer;
}

button.primary {
  background-color: var(--stars-color);
}

button.block {
  width: 100%;
}

button:hover {
  border: 0.1rem var(--border-large) solid;
}

header a {
  color: var(--main-font-color);
  padding: 1.5rem;

}

a.brand {
  color: var(--main-font-color);
  font-size: 2rem;
  font-weight: bold;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

.row.top {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 3% auto auto;
}

.col-1 {
  flex: 1fr 1fr 20rem;
}

.col-2 {
  flex: 2fr 1 20rem;
}

/* Imagens */ 
img {
  border-radius: 1.5rem;
}

img.medium {
  max-width: 28rem;
}

img.large {
  max-width: 30rem;
}

.card {
  border: 0.15rem var(--border-color) solid;
  background-color: var(--main-bg-color);
  border-radius: 0.8rem;
  margin: 1rem;
}

.card-body {
  padding: 1rem;
  font-weight: bolder;
}

.card-body > *{
  margin-bottom: 0.5rem;
}

.price {
  font-size: 1.7rem;
}

.rating {
  color: var(--stars-color);
  margin: 0.2rem;
}

.rating.span {
  color: var(--stars-color);
  margin: 0.2rem;
}

.success {
  color: var(--success-color);
}

.danger {
  color: var(--fail-color);
}

p.powers {
  font-weight: bold;
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-info {
  color: var(--blue-color);
  background-color: var(--main-bg-color);
}

.alert-danger {
  color: var(--fail-color);
  background-color: var(--bg-error-color);
}