<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Express</title>
    <link rel="stylesheet" href="/mycommerce/public/stylesheets/style.css">
  </head>
  <header>
    <%- include('../partials/header'); %>
  </header>
  <body>
    <h1>Express</h1>
    <p>Welcome to Express</p>
    <button type="button">Login</button>
  </body>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</html>
