<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <title>MarVeu</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <div>
          <a class="brand" href="index.html">MarVeu Store</a>
        </div>
        <div>
          <a href="carrinho.html">Carrinho</a>
          <a href="login.html">Login</a>
        </div>
      </header>
      <main>
        <div class="row center">
          <div class="card">
            <a href="product.html">
              <img
                class="medium"
                src="./images/thanos.png"
                alt="Thanos, o titã louco"
              />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Thanos, o Titã Louco</h2>
              </a>
              <div class="force-rating">
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star-half"></i></span>
              </div>
              <div class="price">R$400,00</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img
                class="medium"
                src="./images/scarlet-witch.jpg"
                alt="Feiticeira Escarlate"
              />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Feiticeira Escarlate</h2>
              </a>
              <div class="force-rating">
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
              </div>
              <div class="price">R$500,00</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img
                class="medium"
                src="./images/iron-man.jpg"
                alt="Homem de Ferro"
              />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Homem de Ferro</h2>
              </a>
              <div class="force-rating">
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star-half"></i></span>
              </div>
              <div class="price">R$275,00</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img
                class="medium"
                src="./images/hulk.jpg"
                alt="O Incrível Hulk"
              />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>O Incrível Hulk</h2>
              </a>
              <div class="force-rating">
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
              </div>
              <div class="price">R$300,00</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img
                class="medium"
                src="./images/thor.jpg"
                alt="Thor, O Deus do Trovão"
              />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Thor, O Deus do Trovão</h2>
              </a>
              <div class="force-rating">
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
              </div>
              <div class="price">R$320,00</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img
                class="medium"
                src="./images/spider-man.jpg"
                alt="Homem Aranha"
              />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Homem Aranha</h2>
              </a>
              <div class="force-rating">
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star-half"></i></span>
              </div>
              <div class="price">R$120,00</div>
            </div>
          </div>
        </div>
      </main>
      <footer class="row center">Todos os direitos reservados.</footer>
    </div>
  </body>
</html>
